$body-background: #000000;
$body-base-color: #FFFFFF;

$menu-font-color: #FFFFFF;
$menu-background-color: #363636;
$menu-selected-color: #F26B3B;

$min-desktop-size: 1024px;
$max-mobile-size: 1023px;
$section-text-color: #FFFFFF;